html {
    background-color:#000;
    height:100%;
    margin:0;
}
body {
    height:100%;
    margin:0;
    color: #fff;
    background-color:#000;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Merriweather' , serif;
    font-size:60px;
    font-style:italic;
    font-weight:bold;
}
h2 {
    font-family: 'Merriweather' , serif;
    font-size:24px;
}
h4 {
    font-size:24px;
}

a {
    color:#fff;
    text-decoration: none;
    transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.inline-link {
    transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    text-decoration: underline;
    text-underline-offset: 4px;
}

.navbar {
    background-color: #000;
}
.description-text{
    font-size:24px;
}

.intro-wrapper {
    min-height:100%;
    align-items: center;
}
.intro {
/* styling of her intro section */

}

.experience-header {
}

.hero-cta {
    font-size:20px;
}

.project-landing-title {
    font-size:60px;
}
.project-description {
    font-size:18px;
    font-family: 'Merriweather' , serif;
}
.project-description {
    font-size:18px;
    font-family: 'Inter' , serif;
}






.project-page {
    margin-top:10%;
    /* will probably have to fix this on mobile? */
}

.side-text-container {
    display:flex;
    align-items:center;
}


.footer {
    background-color:#000;
}

.homepage-back-button{
    padding: 5px 25px 5px 25px;
    border-radius: 42px;
    background-color: #1C1C1C;
    width: max-content;
}

.contact-me-button {
    padding: 5px 25px 5px 25px;
    border-radius: 42px;
    background-color: #1C1C1C;
    width: max-content;
}


.about-me-img {
    border-radius: 70px;
}
/* ----------------------------------------- */
	/* mobile phones */
 @media only screen and (min-width: 320px) and (max-width:480px) {
    h1 {
        font-size:32px;
    }
    h4 {
        font-size:18px;
    }
    .description-text {
        font-size:18px;
    }
    .project-description {
        font-size:14px;
    }

}


